
@tailwind base;


@tailwind components;


@tailwind utilities;
h1
 {
    font-size: 2em;
  font-weight: bolder;
}
h2{
    
    font-size: 1.5em;
    font-weight: bolder;
}
h3{
    font-size: 1.17em;
    font-weight: bolder;
}
h4{
    font-size: 1em;
    font-weight: bolder;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }